---
import { getCollection } from "astro:content";
import ToolsGridItem from "../components/ToolsGridItem.astro";
import { countBy, flatten, flow, groupBy, sortBy } from "es-toolkit";
import DefaultPageLayout from "../layouts/DefaultPageLayout.astro";
import type { CollectionEntry } from "astro:content";
import DividedHorizontalList from "../components/DividedHorizontalList.astro";
import { toPairs } from "es-toolkit/compat";

// TODO - Maybe sort manually instead of alphabetically?

const allTools = sortBy(await getCollection("tools"), ["id"]);

type Tool = CollectionEntry<"tools">;

const mainTools: Tool[] = [];
const subToolsByParentId: Record<string, Tool[]> = {};

// Split all tools into main and sub tools
for (const tool of allTools) {
  const [parentId, subId] = tool.id.split("/");
  if (subId) {
    if (!subToolsByParentId[parentId]) {
      subToolsByParentId[parentId] = [];
    }
    subToolsByParentId[parentId].push(tool);
  } else {
    mainTools.push(tool);
  }
}

const groupedTools = groupBy(mainTools, (x) => x.data.usageStatus);

/**
 * Return the number of sub-tools for a specific tool
 */
const getNumberOfSubTools = (tool: Tool): number => {
  return subToolsByParentId[tool.id]?.length ?? 0;
};
---

<DefaultPageLayout title="Tools">
  <div class="prose-content">
    <h1>Tools</h1>
    <h2>Current Toolkit</h2>
    <p>
      These are tools I actively use to build things. You can select some of
      them to see how I've configured them to my liking. Feel free to explore,
      copy and get inspired!
    </p>
    <div class="grid grid-cols-8 gap-4 mt-16">
      {
        groupedTools.inToolbox?.map((tool) => (
          <ToolsGridItem
            tool={tool}
            numberOfSubTools={getNumberOfSubTools(tool)}
          />
        ))
      }
    </div>
    {
      groupedTools.onTheShelf?.length && (
        <>
          <h2>On the Shelf</h2>
          <p>
            These are tools that are used in projects I maintain or that I
            occasionally reach for when need arises.
          </p>
          <DividedHorizontalList
            class="not-prose-content mt-8"
            items={groupedTools.onTheShelf?.map((tool) => {
              return {
                name: tool.data.title,
                icon: tool.data.icon ?? tool.data.defaultIcon,
                href:
                  tool.body || getNumberOfSubTools(tool)
                    ? `/tools/${tool.id}/`
                    : "",
              };
            })}
          />
        </>
      )
    }
    <div class="mt-16">
      <h2>Stored Away</h2>
      <p>
        These are tools I've used previously but are not in active use for some
        reason. I've listed them here for historical purposes and to showcase
        how far I and the industry have come. Maybe some of them will return to
        my toolbox in the future.
      </p>
      <DividedHorizontalList
        class="not-prose-content mt-8"
        items={groupedTools.storedAway?.map((tool) => {
          return {
            name: tool.data.title,
            icon: tool.data.icon ?? tool.data.defaultIcon,
            href:
              tool.body || getNumberOfSubTools(tool)
                ? `/tools/${tool.id}/`
                : "",
          };
        })}
      />
    </div>
  </div>
  <div class="prose-content">
    <hr class="mt-16" />
    <h2>Debug</h2>
    <table class="border-separate border-spacing-2">
      <tr>
        <th>Tag</th>
        <th>Count</th>
      </tr>
      {
        // Need to use 2 flows, because maximum functions is 5 at once.
        flow(
          flow(
            // Extract tags
            (x: typeof allTools) => x.map((y) => y.data.tags),
            (x) => flatten(x),
            (x) => countBy(x, (y) => y),
            (x) => toPairs(x),
            (x) => sortBy(x, [([tag, count]) => count]),
          ),
          (x) => x.reverse(),
          (x) =>
            x.map(([tag, count]) => (
              <tr>
                <td>{tag}</td>
                <td class="text-center">{count}</td>
              </tr>
            )),
        )(allTools)
      }
    </table>
  </div>
</DefaultPageLayout>
